<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Propertyvalue">

	<resultMap type="Propertyvalue" id="PropertyvalueMap">
		<id property="id" column="id"/>
		<result property="value" column="value"/>
		<association property="property" javaType="Property">
			<id property="id" column="ptyid"/>
			<result property="name" column="name"/>
		</association>
	</resultMap>
	
	<select id="queryByPid" resultMap="PropertyvalueMap" parameterType="int">
		SELECT pv.*,pt.id as ptyid,pt.name  from propertyvalue as pv, property as pt where pv.ptid=pt.id and pv.pid=#{pid};
	</select>
	
	<select id="update" parameterType="int">
		update propertyvalue set value=#{value} where id=#{id}
	</select>
</mapper>